@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: url("/chatBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    filter: brightness(0.7); 
}
